<% include partials/header %>

<div class="container">
    
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to the Churchy.com</h1>
            <p>View all churches in Nigeria and African and rate them</p>
            <p>
                <a class="btn btn-primary btn-large" href="/churches/new">Add New Church</a>
            </p>
        </div>
    </header>
    <div class=" text-center row" style="display:flex; flex-wrap:wrap;">
        <% churches.forEach(function(church){%>
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                <img src="<%=church.image%>">
                <div class="caption">
                   <h4><%=church.name%></h4>
                </div>
                <a  href="/churches/<%=church._id%>" class="btn btn-primary">More Info</a>
            </div>
          
            
        </div>
        
        

        <%}) %>
    
    </div>

    
        
    </div>




<% include partials/footer %>